<div class="link-menu link-menu--style-3 py-4 border-bottom">
  <%= link_to 'Profil', profile_path, class: active?(profile_path) %>
  <%= link_to 'Modifier le profil', edit_profile_path, class: active?(edit_profile_path) %>
  <!--
  <a href="../../pages/profile/account-orders.html">Orders</a>
  <a href="../../pages/profile/account-cards.html">Cards</a>
  <a href="../../pages/profile/account-security.html">Security</a>
  <a href="../../pages/profile/account-connections.html">Connections</a>
-->
</div>
