<section class="slice-xl sct-color-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 mt--150">
        <div class="text-center">
          <div class="card">
            <div class="card-body">
              <table class="table-cart">
                <div class="d-block font-size-3 font-size-md-6 c-gray-light">
                  <i class="icon-hotel-restaurant-105"></i>
                </div>

                <h2 class="heading heading-3 strong-600">Your cart is empty.</h2>
                <p class="mt-4 px-5">
                  Your cart is currently empty. Return to our shop and check out the latest offers. We have some great items that are waiting for you.
                </p>
                <%= link_to "Go Shopping", root_path, class:"btn btn-styled btn-base-1 mt-5" %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
