<section class="swiper-js-container background-image-holder" data-holder-type="fullscreen" data-holder-offset=".header">
  <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-items="1" data-swiper-space-between="0">
    <div class="swiper-wrapper">
      <!-- Slide -->
      <div class="swiper-slide" data-swiper-autoplay="10000">
        <div class="holder-item slice sct-color-1 has-bg-cover bg-size-cover" style="background-image: url(../../assets/images/prv/shop/electronics/img-bg-1.png); background-position: left center;">
          <div class="container d-flex align-items-center">
            <div class="row align-items-center">
              <div class="col-12 col-lg-6 holder-item-light">
                <div class="animated" data-animation-in="zoomIn" data-animation-delay="400">
                  <h2 class="heading heading-xl strong-600 c-gray-dark mb-0">
                    Boitiers
                  </h2>
                  <h2 class="heading heading-2 strong-600 c-gray-light">
                    2.3GHz Processor 128GB Storage
                  </h2>
                  <div class="pr-5">
                    <p class="c-gray-light mt-4">
                      Now it's easy to boost your online image by creating a website using our theme without having to worry about the quality of the end result.
                    </p>

                    <span class="d-block heading-xs text-uppercase c-gray-light mt-4">Starting from:</span>
                    <h2 class="heading heading-2 strong-600 c-base-1 mt-2">
                      $1,299.00
                    </h2>

                    <div class="btn-container mt-4">
                      <a href="#" class="btn btn-styled btn-base-1 btn-circle btn-icon-left" data-scroll-to="#scrollToSection">
                        <i class="icon ion-android-cart"></i>
                        Shop now
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="block block-image-holder animated d-none d-lg-block" data-animation-in="slideInRight" data-animation-delay="200">
                  <div class="block-image">
                    <img src="../../assets/images/prv/shop/electronics/img-slider-1.png">

                    <a href="https://www.youtube.com/watch?v=zodT9bCdIiI" data-fancybox="data-fancybox">
                      <span class="play-video play-video-sm">
                        <i class="fa fa-play"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide -->
      <div class="swiper-slide" data-swiper-autoplay="10000">
        <div class="holder-item slice sct-color-1 has-bg-cover bg-size-cover" style="background-image: url(../../assets/images/prv/shop/electronics/img-bg-1.png); background-position: left center;">
          <div class="container d-flex align-items-center">
            <div class="row align-items-center">
              <div class="col-12 col-lg-6 holder-item-light">
                <div class="animated" data-animation-in="zoomIn" data-animation-delay="400">
                  <h2 class="heading heading-xl strong-600 c-gray-dark mb-0">
                    Google Home
                  </h2>
                  <h2 class="heading heading-2 strong-600 c-gray-light">
                    Hands-free help from the Google Assistant
                  </h2>
                  <div class="pr-5">
                    <p class="c-gray-light mt-4">
                      Now it's easy to boost your online image by creating a website using our theme without having to worry about the quality of the end result.
                    </p>

                    <span class="d-block heading-xs text-uppercase c-gray-light mt-4">Starting from:</span>
                    <h2 class="heading heading-2 strong-600 c-base-1 mt-2">
                      $129.00
                    </h2>

                    <div class="btn-container mt-4">
                      <a href="#" class="btn btn-styled btn-base-1 btn-circle btn-icon-left" data-scroll-to="#scrollToSection">
                        <i class="icon ion-android-cart"></i>
                        Shop now
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="block block-image-holder animated d-none d-lg-block" data-animation-in="slideInRight" data-animation-delay="200">
                  <div class="block-image">
                    <img src="../../assets/images/prv/shop/electronics/img-slider-2.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Arrows -->
    <div class="swiper-button swiper-button-next"></div>
    <div class="swiper-button swiper-button-prev"></div>
  </div>
</section>

<section class="slice sct-color-2">
  <div class="container">
    <h4 class="heading heading-xs text-uppercase strong-600 mb-0 text-center">
      Trending
    </h4>
    <div class="section-title section-title--style-1 text-center mt-1">
      <h3 class="section-title-inner heading-3 strong-600 line-height-1_6">
        <span>Popular items</span>
      </h3>
      <span class="section-title-delimiter clearfix d-none"></span>
    </div>

    <div class="row-wrapper">
      <div class="row cols-xs-space cols-sm-space cols-md-space">
        <div class="col-lg-3 col-md-6">
          <div class="card card-product z-depth-1-top z-depth-2--hover">
            <div class="card-body">
              <h2 class="heading heading-6 strong-600 mt-2 mb-3">
                <a href="#">Google Home Base</a>
              </h2>

              <div class="card-image swiper-js-container">
                <div class="">
                  <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img src="../../assets/images/prv/shop/electronics/img-1.png" class="img-fluid img-center img-primary">
                      </div>
                      <div class="swiper-slide">
                        <img src="../../assets/images/prv/shop/electronics/img-1.png" class="img-fluid img-center img-primary">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mt-3">
                <div class="price-wrapper">
                  <span class="price price-sm c-gray-dark">
                    <span class="strong-300">$</span><span class="price-value strong-600">65.</span>
                    <small class="strong-300">00</small>
                  </span>
                  <span class="clearfix"></span>
                </div>
                <h6 class="heading heading-sm strong-400 c-red">Save 10%</h6>
                <p class="product-description mt-3 mb-0">
                  Customize your Google Home to fit into your space.
                </p>
              </div>
            </div>
            <div class="card-footer">
              <div class="product-buttons">
                <div class="row align-items-center">
                  <div class="col-2">
                    <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="Favorite">
                      <i class="ion-ios-heart"></i>
                    </button>
                  </div>
                  <div class="col-2">
                    <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="Compare">
                      <i class="ion-ios-browsers-outline"></i>
                    </button>
                  </div>
                  <div class="col-8">
                    <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                      <i class="icon ion-android-cart"></i>Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pt-5">
          <nav aria-label="Product pagination">
            <ul class="pagination pagination--style-2 justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>

    <section class="slice pb-0 sct-color-1">
      <div class="container">
        <h4 class="heading heading-xs text-uppercase strong-600 mb-0 text-center">
          Special
        </h4>
        <div class="section-title section-title--style-1 text-center mt-1">
          <h3 class="section-title-inner heading-2 text-normal strong-600 line-height-1_6">
            <span>Innovation that Inspires</span>
          </h3>
          <span class="section-title-delimiter clearfix d-none"></span>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-4">
            <ul class="d-block icons text-center mt-5">
              <li class="mb-3 animate-on-scroll fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <i class="icon ion-android-phone-portrait"></i>
                <span class="strong-600">
                  Water-resistant metal unibody1
                </span>
              </li>
              <li class="mb-3 animate-on-scroll fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <i class="icon ion-gear-b"></i>
                <span class="strong-600">
                  Qualcomm<sup>&copy;</sup>
                  Snapdragon™ 835 processor
                </span>
              </li>
              <li class="mb-3 animate-on-scroll fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <i class="icon ion-battery-charging"></i>
                <span class="strong-600">
                  Up 7 hours of battery
                </span>
              </li>
            </ul>
          </div>

          <div class="col-lg-4">
            <img src="../../assets/images/prv/shop/electronics/img-promo-1.png" class="img-fluid">
          </div>

          <div class="col-lg-4">
            <div class="text-center">
              <h3 class="heading heading-3 strong-600">The new Google Pixel 2</h3>
              <h3 class="heading heading-5 strong-400">$650.00</h3>

              <p class=" c-gray-light mt-4">
                There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only.
              </p>

              <div class="btn-container mt-4">
                <a href="#" class="btn btn-base-1 btn-circle btn-icon-left px-4" data-scroll-to="#scrollToSection">
                  <i class="icon ion-android-cart"></i>
                  Add to cart
                </a>
                <a href="#" class="btn btn-base-3 btn-circle btn-icon-left px-4" data-scroll-to="#scrollToSection">
                  Learn more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="slice sct-color-2">
      <div class="container">
        <h4 class="heading heading-xs text-uppercase strong-600 mb-0 text-center">
          Recent
        </h4>
        <div class="section-title section-title--style-1 text-center mt-1">
          <h3 class="section-title-inner heading-3 strong-600 line-height-1_6">
            <span>Recently viewed</span>
          </h3>
          <span class="section-title-delimiter clearfix d-none"></span>
        </div>

        <div class="row cols-xs-space cols-sm-space cols-md-space">
          <div class="col-lg-3 col-md-6">
            <div class="card card-product z-depth-1-top z-depth-2--hover">
              <div class="card-body">
                <h2 class="heading heading-6 strong-600 mt-2 mb-3">
                  <a href="#">Google Home Base</a>
                </h2>

                <div class="card-image swiper-js-container">
                  <div class="">
                    <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img src="../../assets/images/prv/shop/electronics/img-1.png" class="img-fluid img-center img-primary">
                        </div>
                        <div class="swiper-slide">
                          <img src="../../assets/images/prv/shop/electronics/img-1.png" class="img-fluid img-center img-primary">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mt-3">
                  <div class="price-wrapper">
                    <span class="price price-sm c-gray-dark">
                      <span class="strong-300">$</span><span class="price-value strong-600">65.</span>
                      <small class="strong-300">00</small>
                    </span>
                    <span class="clearfix"></span>
                  </div>
                  <h6 class="heading heading-sm strong-400 c-red">Save 10%</h6>
                  <p class="product-description mt-3 mb-0">
                    Customize your Google Home to fit into your space.
                  </p>
                </div>
              </div>
              <div class="card-footer">
                <div class="product-buttons">
                  <div class="row align-items-center">
                    <div class="col-2">
                      <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="Favorite">
                        <i class="ion-ios-heart"></i>
                      </button>
                    </div>
                    <div class="col-2">
                      <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="Compare">
                        <i class="ion-ios-browsers-outline"></i>
                      </button>
                    </div>
                    <div class="col-8">
                      <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                        <i class="icon ion-android-cart"></i>Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card card-product z-depth-1-top z-depth-2--hover">
              <div class="card-body">
                <h2 class="heading heading-6 strong-600 mt-2 mb-3">
                  <a href="#">Google Home</a>
                </h2>

                <div class="card-image swiper-js-container">
                  <div class="">
                    <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img src="../../assets/images/prv/shop/electronics/img-2.png" class="img-fluid img-center img-primary">
                        </div>
                        <div class="swiper-slide">
                          <img src="../../assets/images/prv/shop/electronics/img-2.png" class="img-fluid img-center img-primary">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mt-3">
                  <div class="price-wrapper">
                    <span class="price price-sm c-gray-dark">
                      <span class="strong-300">$</span><span class="price-value strong-600">129.</span>
                      <small class="strong-300">00</small>
                    </span>
                    <span class="clearfix"></span>
                  </div>
                  <h6 class="heading heading-sm strong-400 c-green">In stock</h6>
                  <p class="product-description mt-3 mb-0">
                    Customize your Google Home to fit into your space.
                  </p>
                </div>
              </div>
              <div class="card-footer">
                <div class="product-buttons">
                  <div class="row align-items-center">
                    <div class="col-2">
                      <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="Favorite">
                        <i class="ion-ios-heart"></i>
                      </button>
                    </div>
                    <div class="col-2">
                      <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="Compare">
                        <i class="ion-ios-browsers-outline"></i>
                      </button>
                    </div>
                    <div class="col-8">
                      <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                        <i class="icon ion-android-cart"></i>Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card card-product z-depth-1-top z-depth-2--hover">
              <div class="card-body">
                <h2 class="heading heading-6 strong-600 mt-2 mb-3">
                  <a href="#">Libratone Q Adapt</a>
                </h2>

                <div class="card-image swiper-js-container">
                  <div class="">
                    <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img src="../../assets/images/prv/shop/electronics/img-3.png" class="img-fluid img-center img-primary">
                        </div>
                        <div class="swiper-slide">
                          <img src="../../assets/images/prv/shop/electronics/img-3.png" class="img-fluid img-center img-primary">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mt-3">
                  <div class="price-wrapper">
                    <span class="price price-sm c-gray-dark">
                      <span class="strong-300">$</span><span class="price-value strong-600">245.</span>
                      <small class="strong-300">00</small>
                    </span>
                    <span class="clearfix"></span>
                  </div>
                  <h6 class="heading heading-sm strong-400 c-gray-light">Limited stock</h6>
                  <p class="product-description mt-3 mb-0">
                    Customize your Google Home to fit into your space.
                  </p>
                </div>
              </div>
              <div class="card-footer">
                <div class="product-buttons">
                  <div class="row align-items-center">
                    <div class="col-2">
                      <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="Favorite">
                        <i class="ion-ios-heart"></i>
                      </button>
                    </div>
                    <div class="col-2">
                      <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="Compare">
                        <i class="ion-ios-browsers-outline"></i>
                      </button>
                    </div>
                    <div class="col-8">
                      <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                        <i class="icon ion-android-cart"></i>Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card card-product z-depth-1-top z-depth-2--hover">
              <div class="card-body">
                <h2 class="heading heading-6 strong-600 mt-2 mb-3">
                  <a href="#">Phone fabric case</a>
                </h2>

                <div class="card-image swiper-js-container">
                  <div class="">
                    <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img src="../../assets/images/prv/shop/electronics/img-4.png" class="img-fluid img-center img-primary">
                        </div>
                        <div class="swiper-slide">
                          <img src="../../assets/images/prv/shop/electronics/img-4.png" class="img-fluid img-center img-primary">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mt-3">
                  <div class="price-wrapper">
                    <span class="price price-sm c-gray-dark">
                      <span class="strong-300">$</span><span class="price-value strong-600">29.</span>
                      <small class="strong-300">00</small>
                    </span>
                    <span class="clearfix"></span>
                  </div>
                  <h6 class="heading heading-sm strong-400 c-red">Save 10%</h6>
                  <p class="product-description mt-3 mb-0">
                    Customize your Google Home to fit into your space.
                  </p>
                </div>
              </div>
              <div class="card-footer">
                <div class="product-buttons">
                  <div class="row align-items-center">
                    <div class="col-2">
                      <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="Favorite">
                        <i class="ion-ios-heart"></i>
                      </button>
                    </div>
                    <div class="col-2">
                      <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="Compare">
                        <i class="ion-ios-browsers-outline"></i>
                      </button>
                    </div>
                    <div class="col-8">
                      <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                        <i class="icon ion-android-cart"></i>Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="slice sct-color-1">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 ml-lg-auto order-lg-2">
            <img src="../../assets/images/prv/shop/electronics/img-product-lg-1.jpg" class="img-fluid">
          </div>

          <div class="col-lg-5 order-lg-1">
            <div class="">
              <h3 class="heading heading-2 strong-600">The most beautiful colors you've ever seen</h3>

              <p class=" c-gray-light mt-4">
                There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only.
              </p>

              <div class="btn-container mt-5">
                <a href="#" class="btn btn-base-1 btn-circle btn-icon-left px-4" data-scroll-to="#scrollToSection">
                  <i class="icon ion-android-cart"></i>
                  Add to cart
                </a>
                <a href="#" class="btn btn-base-3 btn-circle btn-icon-left px-4" data-scroll-to="#scrollToSection">
                  Learn more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<%= render 'layouts/banner_2' %>
    <!-- <section class="slice-lg has-bg-cover bg-size-cover" style="background-image: url(../../assets/images/prv/architecture/img-slider-1.jpg);">
      <div class="mask mask-base-1--style-1"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6 text-center">
            <h2 class="heading heading-1 strong-600 c-white">
              Join the biggest sales of the year
            </h2>
            <p class="c-white trong-300 mt-4">
              Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only.
            </p>

            <div class="btn-container mt-5">
              <a href="#" class="btn btn-styled btn-white btn-outline btn-circle px-5">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </section> -->
