.btn-login {
  padding: 5px 10px !important;
}

.dropdown-cart {
  min-width: 0 !important;
  padding: 0 1rem;
}

div.tp-bannertimer.tp-bottom {
  visibility: hidden !important;
}

.custom-nav {
  height: 90px !important;
}

/* .nav-item-align {
  padding: 0 !important;
} */
