.btn-login {
  padding: 5px 10px !important;
}

.dropdown-cart {
  min-width: 0 !important;
  padding: 0 1rem;
}

div.tp-bannertimer.tp-bottom {
  visibility: hidden !important;
}

.btn-styled-custom {
  padding: 0.75rem;
  font-weight: 600;
  letter-spacing: 0;
}