#link1 {
  color: #3452ff
}

.nav-perso {
    position: relative;
    letter-spacing: 0;
    background: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0;
    color: #fff;
}
