<section class="slice-lg has-bg-cover bg-size-cover" style="background-image: url(../../assets/images/prv/architecture/img-slider-1.jpg);">
  <div class="mask mask-base-1--style-1"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 text-center">
        <h2 class="heading heading-1 strong-600 c-white">
          Rejoignez la communauté !
        </h2>
        <p class="c-white trong-300 mt-4">
          Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only.
        </p>
        <div class="btn-container mt-5">
          <%= link_to "Nous rejoindre", new_user_registration_path, class:"btn btn-styled btn-white btn-outline btn-circle px-5" %>
        </div>
      </div>
    </div>
  </div>
</section>
